<wm-page layouttype="three-column" columns="3" data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="top-nav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-row name="contentRow">
            <wm-left-panel contentwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
            <wm-column class="app-content-column" columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Home" fontsize="20" name="Heading"></wm-label>
                <wm-html height="auto" width="100%" name="bodyContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta gravida nisi, ac volutpat nibh adipiscing et. Fusce hendrerit nisi sed augue molestie pellentesque. Proin quis leo condimentum, tempus augue sit amet, aliquet
                        erat.
                    </p>
                </wm-html>
                <wm-livegrid name="livegrid1" service="hrdb@Vacation">
                    <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" name="grid1" dataset="bind:Variables.HrdbVacationData.dataSet">
                        <wm-grid-column binding="id" caption="id" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="startdate" caption="startdate" type="date" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="enddate" caption="enddate" type="date" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="tenantid" caption="tenantid" type="integer" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="employee.eid" caption="employee.eid" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="employee.firstname" caption="employee.firstname" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="employee.lastname" caption="employee.lastname" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="employee.street" caption="employee.street" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="employee.city" caption="employee.city" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="employee.state" caption="employee.state" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    </wm-grid>
                    <wm-liveform novalidate="false" height="200" name="liveform1" dataset="bind:Variables.HrdbVacationData.dataSet">
                        <wm-form-field key="id" display-name="id" show="true" type="integer" primary-key="true" generator="identity" readonly="true" required="true" placeholder="Readonly field"></wm-form-field>
                        <wm-form-field key="startdate" display-name="startdate" show="true" type="date" primary-key="false" generator="null" readonly="false" required="false" placeholder="Select date"></wm-form-field>
                        <wm-form-field key="enddate" display-name="enddate" show="true" type="date" primary-key="false" generator="null" readonly="false" required="false" placeholder="Select date"></wm-form-field>
                        <wm-form-field key="employee" display-name="employee" show="true" type="list" primary-key="false" generator="assigned" is-related="true"></wm-form-field>
                        <wm-form-field key="tenantid" display-name="tenantid" show="true" type="integer" primary-key="false" generator="null" readonly="false" required="false" placeholder="Enter value"></wm-form-field>
                        <wm-form-action key="cancel" display-name="cancel" show="true" class="form-cancel" iconname="remove-circle" action="formCancel()" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" display-name="save" show="true" class="form-save btn-success" iconname="save" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
                <wm-composite widget="text" name="composite1">
                    <wm-label class="col-md-2" name="label2"></wm-label>
                    <wm-text name="text1"></wm-text>
                </wm-composite>
            </wm-column>
            <wm-right-panel contentwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>